{% extends "chat/base.html"%}

{% block title %} register {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .content {
        position: absolute;
        top: 100px;
        left: 40%;
        color: whitesmoke;
        background-color:rgb(18, 17, 16);
    }

    a {
        color: lightgray;
    }

    a:hover {
        text-decoration: underline;
        color: lightgray;
    }
</style>

<div class="content">
    <p><h3>Create a new account.</h3></p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <p>Did you remember that you have an account? Click <a href="login/">here</a></p>
        <button type="submit" class="btn btn-dark">Register</button>
        <button type="reset" class="btn btn-dark">Reset</button>
    </form>
</div>

<div class="footer" style="position: absolute; top: 145%; left: 42%;">
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgb(18, 17, 16)">
          © 2022 Copyright:
          <a class="text-dark">bozko.com</a>
        </div>
    </footer>
</div>
{% endblock %}