{% extends 'chat/base.html' %}

{% block title %} characters {% endblock %}

{% block content %}
<style>

    .all {
        color: whitesmoke;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .user-not-login {
        font-size: 40px;
        line-height: 70px;
        padding: 100px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: whitesmoke;
        background-color:rgb(18, 17, 16);
    }

    .user-not-loginh5 {
        color: grey;
        position: absolute;
        top: 30%;
    }

    .user-not-logina {
        color: lightgray;
    }

    .user-not-logina:hover {
        text-decoration: underline;
        color: grey;
    }

    .button {
        position: absolute;
        top: 110px;
        left: 44%;
        width: 500px;
    }

    .content {
        background-color:rgb(18, 17, 16);
        position: absolute;
        top: 200px;
        padding: 20px;
    }

    .list {
        padding: 5px;
        font-size: 30px;
    }

    a:hover {
        text-decoration: underline;
        color: lightgray;
    }

    .content2 {
        position: absolute;
        width: 500px;
    }


</style>
{% if user.is_authenticated == False %}
<div class="user-not-login">
    <p class="user-not-loginh5">
        If you want to see this content <br>
        You must to login ➜ <a href="{% url 'login' %}" class="user-not-logina">here</a>,<br>
        Or create an account ➜ <a href="{% url 'register' %}" class="user-not-logina">here</a>.
    </p>
</div>
{% else %}
<div class="all">

<div class="user-login">
        <div class="button">
            <a href="{% url 'create' %}"><button type="submit" class="btn btn-dark"><h4>Create your character</h4></button></a>
        </div>
    <div class="content">

        <p class="list">List of characters: ↓</p>

        <div class="content2">
            <hr style="background-color: whitesmoke;">
            {% for i in data %}
                <br>
                <a href="{% url 'characters' %}"><p><h5 style="color: grey;">Creator's name: {{ i.author }}</h5></p></a>
                <p><h5>First name: {{ i.first_name }}</h5></p>
                <p><h5 style="color: grey;">
                    {% if i.last_name == '' or i.last_name == 'nieznane' or i.last_name == '.' or i.last_name == '-' or i.last_name == '---' or i.last_name == '--'%}
                        Last name: (nieznane)
                    {% endif %}
                </h5></p>
                <p><h5>Age: {{ i.age }}</h5></p>
                <p><h5 style="color: grey;">Race: {{ i.race }}</h5></p>
                <p><h5>Appearance: {{ i.appearance }}</h5></p>
                <p><h5 style="color: grey;">Short hisotry: {{ i.short_hisotry }}</h5></p>
                <hr>
                {% if i.img %}
                <div class="text-center">
                    <img src="{{ i.img.url }}" class="rounded" alt="character image" width="500px">
                </div>
                <br>
                {% else %}
                <p><h5 style="color: whitesmoke;">No photos.</h5></p>
                {% endif %}
                <br>
                <hr style="background-color: whitesmoke;">
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="test">
    
</div>

</div>

{% endblock %}