{% extends 'chat/base.html' %}

{% block title %} create {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .user-not-login {
        font-size: 40px;
        line-height: 70px;
        padding: 100px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: whitesmoke;
        background-color:rgb(18, 17, 16);
    }

    .user-not-loginh5 {
        color: grey;
        position: absolute;
        top: 30%;
    }

    .user-not-logina {
        color: lightgray;
    }

    .user-not-logina:hover {
        text-decoration: underline;
        color: grey;
    }

    .all {
        background-color:rgb(18, 17, 16);
        color: whitesmoke;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    h1 {
        padding: 50px;
    }

    .all {
        position: absolute;
        top: 100px;
        left: 38%;
    }

    button {
        position: absolute;
        bottom: -50px;
        left: 38%;;
    }
</style>

{% if user.is_authenticated == False %}
<div class="user-not-login">
    <p class="user-not-loginh5">
        If you want to see this content <br>
        You must to login ➜ <a href="{% url 'login' %}" class="user-not-logina">here</a>,<br>
        Or create an account ➜ <a href="{% url 'register' %}" class="user-not-logina">here</a>.
    </p>
</div>
{% else %}
<div class="all">
    <h1>Create character</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-dark"><h4>create</h4></button>
    </form>
</div>

<div class="footer" style="position: absolute; top: 145%; left: 42%;">
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgb(18, 17, 16)">
            
            <a class="text-dark"></a>
        </div>
    </footer>
</div>
{% endif %}

{% endblock %}
